In [1]:
import pandas as pd
import numpy as np

In [4]:
#Uploading the sending_msg csv
data = pd.read_csv("sending_ms.csv", encoding = "latin-1")

In [5]:
data.dtypes

sending_ms_id     int64
ms_name          object
ms_type          object
dtype: object