In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data =pd.read_csv('universities.csv')
data

,university_id,institution_name,state,region,year,student_count,percent_admitted,percent_yield
0,110404,California Institute of Technology,California,"Far West (AK, CA, HI, NV, OR, WA)",2022,2518,3,50
1,166027,Harvard University,Massachusetts,"New England (CT, ME, MA, NH, RI, VT)",2022,37613,3,83
2,166683,Massachusetts Institute of Technology,Massachusetts,"New England (CT, ME, MA, NH, RI, VT)",2022,12829,4,85
3,190150,Columbia University in the City of New York,New York,"Mid East (DE, DC, MD, NJ, NY, PA)",2022,37954,4,64
4,243744,Stanford University,California,"Far West (AK, CA, HI, NV, OR, WA)",2022,20955,4,84
...,...,...,...,...,...,...,...,...
1856,497268,Arizona College of Nursing-Salt Lake City,Utah,"Rocky Mountains (CO, ID, MT, UT, WY)",2022,351,100,42
1857,497912,Concorde Career College-Broadway,Missouri,"Plains (IA, KS, MN, MO, NE, ND, SD)",2022,216,100,68
1858,498049,Arizona College of Nursing-Southfield,Michigan,"Great Lakes (IL, IN, MI, OH, WI)",2022,475,100,51
1859,498447,Arizona College of Nursing-Falls Church,Virginia,"Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC,...",2022,256,100,41
1860,498456,Arizona College of Nursing-Ontario,California,"Far West (AK, CA, HI, NV, OR, WA)",2022,277,100,42

In [ ]:
data.dtypes

university_id        int64
institution_name    object
state               object
region              object
year                 int64
student_count        int64
percent_admitted     int64
percent_yield        int64
dtype: object

In [ ]:
data.isnull().sum()

university_id       0
institution_name    0
state               0
region              0
year                0
student_count       0
percent_admitted    0
percent_yield       0
dtype: int64